*{
    border: 0;
    margin: 0;
    font-size: 3vh;
}
table{
    height: 100vh;
    width: 100vw;
    background-color: rgb(67, 67, 67);
    
}
td{
    width: 8vw;
    height: 10vh;
    background-color: black;
    color: aliceblue;
    border-radius: 12px;
    text-align: center;
}
.num{
    width: 15vw;
    font-weight: bolder;
}
.op{
    background-color: orange;
    font-weight: bold;
    color: black;
}
.delete_img{
    height: 6vh;
    width: 7vw;
}
td:hover{
    background-color: rgb(24, 24, 24);
}
.op:hover{
    background-color: rgb(192, 125, 0);
}
.eq:hover,.clr:hover,.del:hover{
    background-color: rgb(255, 0, 0);
}
.input>td,.output>td{
    height: 20vh;
    padding-right:1vw ;
    font-size: 200%;
    text-align: right;
    background-color: rgb(50, 47, 47);
}
#default{
    color: grey;
}